allow untrusted_app battery_service:service_manager find;
allow untrusted_app device:dir read;
allow untrusted_app untrusted_app:udp_socket ioctl;

allow untrusted_app debugfs:dir { open read };
allow untrusted_app system_data_file:dir remove_name;
allow untrusted_app system_data_file:file { getattr read };

allow untrusted_app debuggerd_exec:file read;
allow untrusted_app efs_file:dir getattr;
allow untrusted_app rootfs:dir read;
allow untrusted_app sec_efs_file:dir getattr;
allow untrusted_app self:udp_socket ioctl;
allow untrusted_app sysfs:dir read;
allow untrusted_app sysfs:file read;

